html {
	font-family: Tahoma, sans-serif;
	width: 100%;
	min-height: 100%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

canvas {
    max-width: 400px;
    max-height: 400px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
    
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
    
tr:nth-child(even) {
    background-color: #dddddd;
}