<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <style>
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
            }
        canvas {
                max-width: 400px;
                max-height: 400px;
            }
    </style>
</head>
<body class="header-wrapper">
    <div>
        <h2>Finance Summary</h2>
        <canvas id="myPieChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/static/js/pie_chart.js"></script>
    </div>
    
    <div class="main-content">
        <table>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
            </tr>
            <tr>
                <td>Row 1, Cell 1</td>
                <td>Row 1, Cell 2</td>
                <td>Row 1, Cell 3</td>
            </tr>
            <tr>
                <td>Row 2, Cell 1</td>
                <td>Row 2, Cell 2</td>
                <td>Row 2, Cell 3</td>
            </tr>
        </table>
    </div>
</body>
</html>
